* {
    font-size: large;
}

#calculatorDisplay {
    width: 500px;
    height: 100px;
    border: 2px solid black;
    margin: auto;
    font-size: larger;
    display: flex;
    align-items: center;
}

#calculatorDeleteAndReset {
    margin: auto;
    border: 2px solid black;
    height: 100px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

#calculatorButton {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, 2fr);
    width: 500px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
}